﻿html,
body
{
	background: #2b2b2b;
	font-size: 62.5%;
	overflow: hidden;
}

footer
{
	color: #777;
	margin: 10px 0;
}

@media screen and (max-height:400px) and (orientation: landscape)
{
	body
	{
		padding: 0;
	}

	.navbar,
	footer
	{
		display: none;
	}
}

h1#title
{
	color: #bbb;
	cursor: pointer;
	float: right;
	font-size: 1.5rem;
	text-align: right;
	text-transform: uppercase;
}

h1#chord-symbol
{
	float: left;
	color: #bbb;
	font-size: 2.5rem;
	min-width: 90px;
}

#fretboard-app
{
	background: linear-gradient(#555, #444);
	box-shadow: black 5px 5px 5px;
	clear: both;
	color: #fff;
	border-radius: 13px;
	font-family: Calibri, sans-serif;
	font-weight: lighter;
	margin: 10px auto 0 auto;
	min-width: 350px;
	overflow: hidden;
	padding: 10px 5%;
	position: relative;
	width: 100%;
}

#svg
{
	background: linear-gradient(transparent, rgb(50,50,50));
	box-shadow: rgb(50,50,50) 8px 5px 10px;
	margin: 0;
	padding: 0;
}

#status
{
	background: #1b1b1b;
	bottom: 0;
	color: #aaa;
	font-size: 1.3rem;
	font-weight: normal;
	height: 20px;
	left: 0;
	padding-left: 10px;
	position: absolute;
	right: 0;
}

#controls
{
	font-size: 2rem;
	margin: 5px 0;
}

	#controls > div
	{
		margin: 0;
	}

		#controls > div label,
		#controls > div span
		{
			color: #bbb;
			display: inline-block;
			font-size: 1.4rem;
			font-weight: lighter;
			line-height: 30px;
			width: 100px;
		}

		#controls > div#chord-name
		{
			font-size: 2rem;
		}

			#controls > div#chord-name #chord-name-input
			{
				background: #262626;
				border: 1px solid #3b3b3b;
				color: #444;
				font-size: 2rem;
				height: 35px;
				line-height: 35px;
				margin: 5px 1px 3px 0px;
				outline: none;
				padding: 0 3px;
				width: 200px;
				-webkit-transition: all 0.30s ease-in-out;
				-moz-transition: all 0.30s ease-in-out;
				-ms-transition: all 0.30s ease-in-out;
				-o-transition: all 0.30s ease-in-out;
			}

				#controls > div#chord-name #chord-name-input:hover
				{
					border: 1px solid black;
					color: #777;
				}

				#controls > div#chord-name #chord-name-input:focus
				{
					color: white;
				}

		#controls > div#position-indexer button
		{
			background: #262626;
			border: 1px solid #3b3b3b;
			color: #444;
			font-size: 2.5rem;
			height: 30px;
			line-height: 2.5rem;
			margin: 0px;
			padding: 0px;
			vertical-align: top;
			width: 30px;
			-webkit-transition: all 0.30s ease-in-out;
			-moz-transition: all 0.30s ease-in-out;
			-ms-transition: all 0.30s ease-in-out;
			-o-transition: all 0.30s ease-in-out;
		}

			#controls > div#position-indexer button:hover
			{
				background: rgb(55, 55, 55);
				border: 1px solid black;
				color: black;
			}

		#controls > div#show-fingering #show-fingering-input[type="checkbox"]
		{
		}
